.footer-nav{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: purple;
}

.footer-nav a{
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  border-radius: 5px;
  text-align: center;
}

.footer-nav a:hover{
  text-decoration: underline;
  background-color: white;
  color: purple;
}
