<section class="game-section md:grid-cols-2" *ngIf="game">
  <img class="game-thumbnail" src="{{ game.thumbnail }}" alt={{game.title}} />
  <div class="info-container">
    <div class="info-container__center">

      <h1  class="text-4xl font-light">{{ game.title }}</h1>
      <span class="font-light textFormat console {{game.console}}">Console: {{ game.console }}</span>
      <h1 class="font-light textFormat">Data de lançamento: {{ game.release }}</h1>
      <div class="font-light textFormat">
        Valor total: <br> <span class="text-4xl price">{{ totalPrice | currency: "R$" }}</span>
      </div>
      <button class="landing-button" (click)="modifyQuantity(-1)">-</button>
      <button class="landing-button" (click)="addToCart()" >Adicionar <span>{{quantity}}</span> ao carrinho</button>
      <button class="landing-button" (click)="modifyQuantity(+1)">+</button>
    </div>
  </div>
</section>
