<a routerLink="/store">Voltar para a loja</a>

<section class="game-section md:grid-cols-2" *ngIf="game">
  <img class="game-thumbnail" src="{{ game.thumbnail }}" alt={{game.title}} />
  <div class="info-container">
    <div class="info-container__center">

      <h1  class="text-4xl font-light">{{ game.title }}</h1>
      <h1 class="font-light textFormat">{{ game.console }}</h1>
      <h1 class="font-light textFormat">{{ game.release }}</h1>
      <div class="font-light textFormat">
        Valor total: {{ totalPrice | currency: "R$" }}
      </div>
      <button class="landing-button" (click)="modifyQuantity(-1)">-</button>
      <button class="landing-button" (click)="addToCart()" >Adicionar <span>{{quantity}}</span> ao carrinho</button>
      <button class="landing-button" (click)="modifyQuantity(+1)">+</button>
    </div>
  </div>
</section>
