.game-link{
  color: #050552;
  text-decoration: none;
  font-weight: lighter;
}

.game-card{
  padding: 10px;
  transition: all .15s ease-in-out;
  cursor: pointer;
  overflow-wrap: break-word;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  height: 50vh;
  margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.game-card {
  width: 45vw;
  height: auto;
  max-height: 85vh;
}

@media (min-width: 1024px) {
  .game-card {
    width: 15vw;
    height: 45vh;
  }
  .game-thumbnail{
    width: 15vw;
  }
}

@media (max-width: 1024px) {
  .game-card {
    width: 25vw;
    max-height: 55vh;
  }
  .game-thumbnail{
    width: 25vw;
  }
}

.game-thumbnail{
  border-radius: 5px;
  height: 25vh;
  background-color: white;
  font-family: 'Play', sans-serif;
  max-width: 100%;
  height: auto;
}

.game-thumbnail{
  width: 100%;
}
.game-card:hover {
  font-weight: bolder;
  transform: scale(1.05);
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
