.cart-item{
  margin-top: 20px;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255, 244, 241, 0.767);
  color: rgb(134, 21, 1);
  border-bottom: 3px solid rgb(255, 38, 0);
  line-height: 3rem;
}

@media (min-width: 1024px) {
  .cart-item {
    width: 25vw;
  }
}

@media (max-width: 1024px) {
  .cart-item {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.cart-button{
  padding: 1em;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgba(255, 25, 25, 0.205);
  cursor: pointer;
}

.cart-button:hover{
  background-color: tomato;
}
